@import "tailwindcss";
@import "./styles/liquid-glass.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --inspect-color: #f00;

  /* Transitions */
  --transition-smooth: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  --transition-zoom: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-climate-crisis: "Climate Crisis", sans-serif;
  --font-clicker-script: "Clicker Script", cursive;
  --font-silkscreen: "Silkscreen", cursive;
}

body {
  background: black;
  color: white;
  font-family: var(--font-montserrat);
}

.font-climate-crisis {
  font-family: var(--font-climate-crisis);
}

.font-clicker-script {
  font-family: var(--font-clicker-script);
}

.font-silkscreen {
  font-family: var(--font-silkscreen);
}

@keyframes zoom-in {
  0% {
    transform: "scale(1)";
    opacity: 0;
    filter: "blur(0px)";
  }
  50% {
    opacity: 0;
    transform: "scale(1.05)";
    filter: "blur(2px)";
  }
  100% {
    opacity: 1;
    transform: "scale(1)";
    filter: "blur(0px)";
  }
}

.animate-zoom-in {
  animation: zoom-in 2s ease-in-out forwards;
}
